doctype html
html
    head
        meta(charset='utf-8')
    body
        h1
            a(href='/home') Server Side JavaScript
        ul
            each topic in topics
                li
                    a(href='/home/' + topic)= topic
        article 
            h2= title
            = description 
        p <br>
        div
            a(href='/form') add account
