doctype html
html
    head
        meta(charset='utf-8')
    body
        form(action='/topic' method='POST') 
            p
                input(type="text" name='id' placeholder='id')
            p
                textarea(name="passwd" placeholder='passwd') 
            p
                input(type="submit")